<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" style="margin-left: 20px;margin-top: 20px">
      <form [formGroup]="registrationForm" (ngSubmit)="showModal()">

        <div class="modal fade" id="verifyModal" tabindex="-1" role="dialog" aria-labelledby="verifyModalLable"
             aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="verifyModalLabel">Enter Verification Code</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group row">
                  <label class="col-sm-3 text-left control-label col-form-label">Code</label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Enter full Name" class="form-control" formControlName="code" name="code" [(ngModel)]="code">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="transferMoney()">Save changes</button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group" >
          <label>1. Please choose the recipient:</label>
          <select class="form-control" (change)="changeRecipient($event)" formControlName="recipientName">
            <option value="" disabled>-- select the recipient --</option>
            <option *ngFor="let recipient of recipients" [ngValue]="recipient?.rib">{{recipient?.name}}</option>
          </select>
          <br />
        </div>

        <div class="form-group" >
          <label>2. Please select the account you would like to transfer from:</label>
          <select class="form-control" (change)="changeAccount($event)" formControlName="accountName">
            <option value="" disabled> -- select your account -- </option>
            <option *ngFor="let account of accounts" [ngValue]="account?.rib">{{account?.rib}}</option>
          </select>
          <br />
        </div>

        <div class="form-group">
          <label>3. Please specify the amount you would like to transfer: </label>
          <span class="input-group-addon">Amount $</span>
          <input type="number" name="amount" class="form-control" formControlName="amount"/>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Transfer</button>
      </form>
    </div>
  </div>
</div>

  <footer style="position: relative;right: 10px;" class="footer text-right">
  All Rights Reserved by Atlas Team. Designed and Developed by <a href="#">Projet team</a>.
</footer>
